%header.jumbotron.subhead.well
	= image_tag 'logo-full.png'

	%p.well.text-center#login
		=link_to "Log In With Facebook Connect", user_omniauth_authorize_path(:facebook), :class => 'btn btn-primary btn-large'
	