%header.jumbotron.subhead.well
	%p.text-center#login
		=image_tag 'logo-full.png', :width => '350', :style => 'margin-bottom:15px'
	%hr
	%p.text-center
		=link_to "Log In With Facebook", user_omniauth_authorize_path(:facebook), :class => 'btn btn-primary btn-large'
	