- profile ||= nil
.image_wrapper
	- if profile.nil?
		%h3.center{:style => "margin-top:20px;"} [empty]
	- else
		= link_to '#', :onclick => "$('#profile_information').html('#{escape_javascript(render :partial => 'profiles/info', :locals => {:profile => profile})}'); $('#profile_information').modal();", "data-toggle" => "modal" do
			= image_tag profile.fb_image_url, :size => "85x85", :class => "thumbnail"

%h1.name
	=  profile.first_name unless profile.nil?