- conversation ||= @conversation
%li[conversation]
  = link_to conversation_path(conversation) do
    .row-fluid
			
      .span8.well
        - if conversation.messages.any?
          .span1= image_tag conversation.messages.last.icon_url
          %p= conversation.messages.last.body