- conversation ||= @conversation
%li[conversation]
  = link_to conversation_path(conversation) do
    .row-fluid
      .span10
        %h3= conversation.participants.only(:first_name).collect(&:first_name).join(" + ")
      .span8.well
        - if conversation.messages.any?
          .span1.thumbnail= image_tag conversation.messages.last.icon_url
          %p= conversation.messages.last.body