.span10.offset1[conversation]{}
  = link_to conversation_path(conversation)
    .row
      .span10
        %h1= conversation.participants.only(:first_name).collect(&:first_name).join(" + ")
      .span8.well
        .span1= conversation.message.last.from_icon
        %p= conversation.message.body