- partner1 = match.chickstuds[0]
- partner2 = match.chickstuds[1]

%tr[match]
  %td
    = image_tag partner1.image_url
    %p= partner1.name
  %td
    %h2 +
  %td
    = image_tag partner2.image_url
    %p= parnter2.name
    